body{
    margin:auto;
}

#div{
    margin: auto;
    width: 75%;
    text-align: justify;
}

.titulos{
    text-align: center;
}

#foto_gato{
    float:left;
    
}

#foto_perro{
    float:left;
    
}
