body {
    width: auto;
    height: auto;
    margin: auto;
}

.imagen {
    height: 200px;
    width: 250px;
}

#div {
    margin: auto;
    width: 75%;
    text-align: justify;
}

.titulos {
    text-align: center;
}

#secciones {
    width: 55%;
    /* padding-left: ;*/
}

nav {
    text-align: right;
}

.img {
    height: 370px;
    width: 290px;
}

.listas {
    list-style: none;
}

#tabla {
    width: 40%;
    padding-right: 30px;
}

#separar {
    padding-left: 20px;
}

#link {
    padding-right: 40px
}