body {
    width: auto;
    height: auto;
    margin: auto;
}

.imagen {
    height: 200px;
    width: 250px;
}

#div {
    margin: auto;
    width: 75%;
    text-align: justify;
}

.titulos {
    text-align: center;
}

#secciones {
    width: 55%;
    /* padding-left: ;*/
}